* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::ng-deep p {
  margin: 0;
}
:root {
  --white: #fffaf0;
  --bg-gradient: linear-gradient(
    47deg,
    rgba(221, 218, 252, 1) 0%,
    rgba(179, 174, 248, 1) 9%,
    rgba(150, 143, 246, 1) 32%,
    rgba(118, 109, 244, 1) 74%
  );
  --secondary: #16c995;
  --primary: #766df4;
  --button-radius: 0.6rem;
  --font-xsm: 16px;
  --font-sm: 18px;
  --font-md: 20px;
  --font-lg: 22px;
  --font-xlg: 24px;
  --weight-light: 400;
  --weight-bold: 500;
  --weight-bolder: 600;
  --weight-xbolder: 700;
}
