@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Nunito", sans-serif; */
  font-family: "Poppins", sans-serif;
}
:root {
  --white: #fff;
  --bg-gradient: linear-gradient(
    47deg,
    rgba(118, 109, 244, 1) 0%,
    rgba(139, 132, 246, 1) 32%,
    rgba(155, 148, 247, 1) 53%,
    rgba(187, 182, 249, 1) 79%,
    rgba(221, 218, 252, 1) 100%
  );
  --secondary: #16c995;
  --primary: #766df4;
  --font-black:#5a5b75;
  --button-radius: 0.6rem;
  --font-xsm: 16px;
  --font-sm: 18px;
  --font-md: 20px;
  --font-lg: 22px;
  --font-xlg: 24px;
  --weight-light: 400;
  --weight-bold: 500;
  --weight-bolder: 600;
  --weight-xbolder: 700;
}
